##Задача 1:
Оформляйте ноутбук, используя эти советы:
Номер задачи -
##заголовок 2
Номер подзадачи - 
###заголовок 3
Предоставленные наборы данных оформляйте, как код
Рекомендации для преподавателей по оценке задания:
Смотреть, чтобы студент красиво оформлял ноутбук, использовал ячейки с текстом, указывал номера заданий

##Задача № 2
На складе лежат разные фрукты в разном количестве. Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [ ]:
def fruits(**kwargs):
    
    total_fruits = sum(kwargs.values())
    
    return f'Total fruits: {total_fruits}'

In [ ]:
print(fruits(apples=11, pears=9, bananas=6))

Total fruits: 26

##Задача 3:
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [ ]:
data = [100, 125, -90, 345, 655, -1, 0, 200]

In [ ]:
print(f'Суммарные затраты: {sum([i for i in data if i > 0 ])}')

Суммарные затраты: 1425

##Задача № 4
Даны два списка: дата покупки и суммы покупок по датам.
Даны два списка.

###4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions
###4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [ ]:
data = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
price = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [ ]:
print([price[i] for i in range(0, len(data)-1) if "-11" in data[i]]) # все продажи ноября
print(f'Выручка: {sum([price[i] for i in range(len(data)-1) if "-11" in data[i]])}') # Сумма ноябрьских продаж

[4944, 3701, 7037, 4274, 2004, 2822, 316]
Выручка: 25098

In [ ]:
def profits(data1: list, data2: list) -> dict:
    
    profits = {}
    
    for i in range(len(data1)):
        
        if data[i].split('-')[1] in profits.keys():
            profits[data[i].split('-')[1]] += price[i]
        else:
            profits[data[i].split('-')[1]] = price[i]
            
    return profits

print(profits(data, price))

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}