<a href="https://colab.research.google.com/github/Andrey30011979/Python-for-analysts/blob/main/%D0%A1%D0%B5%D0%BC%D0%B8%D0%BD%D0%B0%D1%801.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'Four': 4, 'Five': 5, 'Six': 6}

In [ ]:
def dict3 (dict1,dict2):
  dict1.update(dict2)
  return dict1
dict3(dict1, dict2)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

In [ ]:
keys = ['One', 'Two', 'Three']
values = [1, 2, 3]

In [ ]:
def lib (keys,values):
  slowar = {}
  for i in range(len(keys)):
    slowar.update({keys[i]:values[i]})
  return slowar
lib(keys,values)

{'One': 1, 'Two': 2, 'Three': 3}

In [ ]:
def get_dict(keys: list, values: list) -> dict:
    return {keys[i]: values[i]  for i in range(len(keys))}


get_dict(keys, values)

{'One': 1, 'Two': 2, 'Three': 3}

In [ ]:
client_dict = {
    "name": "John",
    "age": 25,
    "salary": 5000,
    "city": "Moscow"
}

In [ ]:
keys = ['name', 'age']

In [ ]:
def slowar1 (client_dict,keys):
  res_dict = dict()
  for i in keys:
    res_dict.update({i:client_dict[i]})
  return res_dict
slowar1(client_dict,keys)

{'name': 'John', 'age': 25}

In [ ]:
slowar1 = {i: client_dict[i] for i in keys}
slowar1

{'name': 'John', 'age': 25}

In [ ]:
def cde (*args):
    a = sum(args)
    b = len(args)
    return {"sum": a,"avg": a/b}
cde (2,4,10,5)

{'sum': 21, 'avg': 5.25}

In [ ]:
import random
numbers = [random.randint(0, 100) for i in range(5)]
numbers

[85, 93, 0, 81, 42]

In [ ]:
import random
random.seed(7)

numbers = [random.randint(0, 100) for i in range(5)]
numbers

[41, 19, 50, 83, 6]

<img src='https://cdn.playcaliber.com/site/media/news/2021/06/01/4-%D0%A2%D0%B0%D0%B1%D0%BB%D0%B8%D1%86%D0%B0-%D0%BC%D0%B0%D0%BB%D0%B5%D0%BD%D1%8C%D0%BA%D0%B0%D1%8F-%D0%BF%D0%BE-%D1%80%D0%B5%D0%B6%D0%B8%D0%BC%D0%B0%D0%BC-1280%D1%85853.jpg'>

<table>
    <tr>
        <td> </td>
        <td>До события</td>
        <td>Во время события</td>
    </tr>
    <tr>
        <td>1 контрольная точка</td>
        <td>250</td>
        <td>500</td>
    </tr>
    <tr>
        <td>2 контрольная точка</td>
        <td>350</td>
        <td>700</td>
    </tr>
    <tr>
        <td>3 контрольная точка</td>
        <td>400</td>
        <td>800</td>
    </tr>
    <tr>
        <td>Итог за победу</td>
        <td>1000</td>
        <td>2000</td>
    </tr>
</table>